<%= turbo_stream.replace "profile-form" do %>
  <div id="profile-form">
    <%= form_with(model: @user, url: update_profile_user_path(@user.id), method: :patch, local: false, data: { turbo: true }) do |form| %>
      <div class="space-y-6">
        <div>
          <%= form.label :name, "ユーザー名", class: "my-label-title" %>
          <%= form.text_field :name, class: "my-form-text px-2 py-2", placeholder: "ユーザー名を入力してください" %>
          <%= render "shared/error_message", model: @user, attribute: :name %>
        </div>

        <div>
          <%= form.label :introduce, "自己紹介文", class: "my-label-title" %>
          <%= form.text_area :introduce, class: "my-form-text px-2 py-2", placeholder: "あなたの自己紹介を書いてください", rows: 5 %>
          <%= render "shared/error_message", model: @user, attribute: :introduce %>
        </div>

        <div class="flex justify-center">
          <%= form.submit "更新", class: "my-orange-btn" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>