<div class="mx-auto max-w-4xl px-4 py-8">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-8">

    <!-- メインコンテンツ -->
    <div class="<%= current_user == @user ? 'md:col-span-3' : 'md:col-span-4 text-center' %> space-y-6">
      <h1 class=""><%= @user.name %>さんのマイページ</h1>
      <!-- プロフィール情報エリア -->
      <div class="p-6 border border-stone-200 rounded-lg shadow-sm bg-white">
        <div class="flex justify-between items-start mb-6">
          <h2 class="text-lg font-bold"><%= @user.name %>さんのプロフィール</h2>
          <% if current_user == @user %>
            <%= link_to "プロフィール編集", edit_profile_user_path(@user),
                class: "my-orange-btn text-sm" %>
          <% end %>
        </div>

        <div>
          <p>
            <%= @user.introduce.present? ? simple_format(@user.introduce) : "まだ紹介文が設定されていません。" %>
          </p>
        </div>
      </div>

      <div class="space-y-4">
        <h2 class="text-xl font-semibold text-center">投稿一覧</h2>

        <% if @user.boards.any? %>
          <div class="space-y-4">
            <% @user.boards.order(created_at: :desc).each do |board| %>
              <%= link_to board_path(board), class: "block rounded-md mb-4" do %>
                <%= render partial: "boards/board_card", locals: { board: board } %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p>まだ投稿がありません。</p>
        <% end %>
      </div>
    </div>

    <!-- サイドバー（ログインユーザー本人のみ） -->
    <% if current_user == @user %>
      <aside class="flex flex-col space-y-4 items-start">
        <%= link_to "目標を編集", edit_goal_path,
            class: "px-4 py-2 bg-lime-500 text-white rounded transition hover:bg-green-500" %>

        <%= link_to "ブックマーク一覧", bookmarks_boards_path,
            class: "px-4 py-2 bg-lime-500 text-white rounded transition hover:bg-green-500" %>

        <%= link_to "アカウント情報変更", edit_user_registration_path,
            class: "px-4 py-2 bg-lime-500 text-white rounded transition hover:bg-green-500" %>

        <%= link_to "ログアウト", destroy_user_session_path,
            data: { turbo_method: :delete },
            class: "px-4 py-2 bg-stone-400 text-white rounded transition hover:bg-stone-500" %>

        <%= link_to "アカウントを削除", user_registration_path,
            data: {
              turbo_confirm: "本当に削除しますか？全てのデータが削除されます。この操作は取り消せません。",
              turbo_method: :delete
            },
            class: "px-4 py-2 bg-red-500 text-white rounded transition hover:bg-red-600" %>
      </aside>
    <% end %>

  </div>
</div>