<header class="bg-yellow-50 shadow-sm">
  <nav class="container mx-auto px-4 py-3 flex justify-between items-center">

    <!-- ロゴ -->
    <div class="flex h-13 items-center">
      <%= link_to '/', class: "block max-w-[200px]" do %>
      <%= image_tag 'logo.png', alt: "まいにち前屈", class: "block w-full transition hover:opacity-75" %>
      <% end %>
    </div>

    <!-- 認証リンク -->
    <div class="space-x-4">
      <% if user_signed_in? %>
        <% if current_user.boards.where(created_at: Time.zone.today.all_day).exists? %>
          <%= link_to "投稿作成", "#",
          class: "px-4 py-2 bg-stone-400 text-white rounded cursor-not-allowed",
          onclick: "alert('※1日に投稿できるのは1件までです。'); return false;" %>
        <% else %>
          <%= link_to "投稿作成", new_board_path, class: "px-4 py-2 bg-lime-500 text-white transition rounded hover:bg-green-500" %>
        <% end %>
        <%= link_to 'みんなの投稿', boards_path, class: 'px-4 py-2 bg-lime-500 text-white transition rounded hover:bg-green-500' %>
        <%= link_to 'マイページ', user_path(current_user), class: 'px-4 py-2 bg-lime-500 text-white transition rounded hover:bg-green-500' %>
        <%= link_to notifications_path, class: "relative inline-block" do %>
          <% has_unread = current_user.notifications.where(checked: false).exists? %>
          <span class="text-2xl text-stone-400 transition hover:text-stone-500">
            <%= icon("solid", "bell") %>
          </span>
          <% if has_unread %>
            <span class="absolute -top-1 -right-1 bg-orange-500 text-white text-xs rounded-full px-1.5">!</span>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: 'px-4 py-2 bg-lime-500 text-white transition rounded hover:bg-green-500' %>
        <%= link_to '新規登録', new_user_registration_path, class: 'px-4 py-2 bg-lime-500 text-white transition rounded hover:bg-green-500' %>
        <%= link_to 'みんなの投稿', boards_path, class: 'px-4 py-2 bg-lime-500 text-white transition rounded hover:bg-green-500' %>
      <% end %>
    </div>

  </nav>
</header>
