<div class="my-container">
<h1><%= t('.sign_in') %></h1>

<div class="max-w-md mx-auto bg-white border border-stone-200 rounded-md shadow-md p-8">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-4">
    <%= f.label :email, class: "inline-block mb-1" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "my-form-text" %>
    <% if resource.errors[:email].any? %>
      <p class="text-red-500 text-sm mt-1"><%= resource.errors.full_messages_for(:email).first %></p>
    <% end %>
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "inline-block mb-1" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "my-form-text" %>
    <% if resource.errors[:password].any? %>
      <p class="text-red-500 text-sm mt-1"><%= resource.errors.full_messages_for(:password).first %></p>
    <% end %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-4">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit t('.sign_in'), class: "w-full bg-orange-400 transition text-white px-4 py-2 rounded hover:bg-orange-500 cursor-pointer" %>
  </div>
<% end %>

<p class="text-center mt-6 text-sm font-semibold">
      <%= link_to "新規登録はこちら", new_registration_path(resource_name) %>
</p>
<%# = render "devise/shared/links" %>
</div>
</div>