<%= form_with(model: @goal, url: goal_path, local: true) do |form| %>

  <div class="space-y-6">
    <div>
      <%= form.label :goal, "目標（必須）", class: "my-label-title" %>
      <%= form.text_field :goal, class: "my-form-text  px-2 py-2", placeholder: "床に指がつく" %>
      <%= render "shared/error_message", model: @goal, attribute: :goal %>
    </div>

    <div>
      <%= form.label :content, "内容（必須）", class: "my-label-title" %>
      <%= form.text_field :content, class: "my-form-text  px-2 py-2", placeholder: "3分ストレッチする（まずは5分以内がおすすめ）" %>
      <%= render "shared/error_message", model: @goal, attribute: :content %>
    </div>

    <div>
      <%= form.label :reward, "達成報酬", class: "my-label-title" %>
      <%= form.text_field :reward, class: "my-form-text  px-2 py-2" %>
    </div>

    <div>
      <%= form.label :punishment, "未達成のペナルティ", class: "my-label-title" %>
      <%= form.text_field :punishment, class: "my-form-text  px-2 py-2" %>
    </div>

    <div class="flex justify-center">
      <%= form.submit class: "my-orange-btn" %>
    </div>
  </div>

<% end %>