<%= form_with(model: @goal, url: goal_path, local: true) do |form| %>

  <div>
    <%= form.label :goal, "目標（必須）", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :goal, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
    <%= render "shared/error_message", model: @goal, attribute: :goal %>
  </div>

  <div>
    <%= form.label :content, "内容（必須）", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :content, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
    <%= render "shared/error_message", model: @goal, attribute: :content %>
  </div>

  <div>
    <%= form.label :reward, "達成報酬（任意）", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :reward, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
  </div>

  <div>
    <%= form.label :punishment, "未達成のペナルティ（任意）", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :punishment, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
  </div>

  <div>
    <%= form.submit class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  </div>
<% end %>